<p>book-ride works!</p>
<div class="tile-container">
    <h2>Booked rides</h2>
    @if (bookedrides.length) {
        
        @for (item of bookedrides; track item.rideId) {
            <app-ride-tile [ride]="item" (bookARide)="bookARide(item)"></app-ride-tile>
        }
    } @else {
        <p>No rides booked</p>
    }
</div>
<div class="tile-container">
<h2>Available rides to book</h2>
    <div class="form-container">
        <form [formGroup]="searchRideForm"  (ngSubmit)="onSearch()">
            <!-- Vehicle Type -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Vehicle Type</mat-label>
                <mat-select multiple formControlName="vehicleType">
                    @for (item of vehicleTypes; track $index) {
                    <mat-option [value]="item">
                        {{ item }}
                    </mat-option>
                    }
                </mat-select>
                @if (searchRideForm.get('vehicleType')?.hasError('required')) {
                <mat-error>
                    Vehicle type is required
                </mat-error>
                }
            </mat-form-field>


            <!-- Time -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Time</mat-label>
                <input matInput type="time" formControlName="time" />
                @if (searchRideForm.get('time')?.hasError('required')) {

                <mat-error>
                    Time is required
                </mat-error>
                }
            </mat-form-field>
                <button mat-flat-button color="primary" type="submit" [disabled]="searchRideForm.invalid">
                Search rides
                </button>
        </form>
    </div>
        @if (filteredOpenRides.length) {

            @for (item of filteredOpenRides; track item.rideId) {
                <app-ride-tile [ride]="item" (bookARide)="bookARide(item)"></app-ride-tile>
            }
    } @else {
        <p>No rides available</p>
    }
</div>